---
layout: default
---

  <div class="body-content">
    {{ content }}
  </div>

  <footer class="footer container px-6">
    <div class="columns is-size-7-mobile">
      <div class="column is-full-mobile is-half-tablet is-three-quarters-desktop">
        <p>
          Feito com <strong>Bulma</strong><i class="fas icon-bulma"></i> e <strong>Fontello</strong>.<br>
		      O código-fonte está licenciado sob <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>.<br>
          Parte do conteúdo deste site é ©2023 pela equipe do evento.
        </p>
	    </div>
      <div class="column is-full-mobile is-half-tablet is-one-quarter-desktop">
        <p><strong>Contatos</strong></p>
        <div>
          <a href="https://www.instagram.com/xiiiwbmm/" target="_blank">
            <span class="icon is-small">
              <i class="fas icon-instagram"></i>
            </span>
          </a>
          <a href="mailto://wbmm@unipampa.edu.br" target="_blank">
            <span class="icon is-small">
              <i class="fas icon-mail"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>
